/* Обрати внимание на имена. Правила в CSS принято называть в формате `kebab-case`.

  Есть также методология, очень популярная, БЭМ. В соответствии с ней имена описываются в таком формате:
  - status-panel - Блок (контейнер с элементами)
  - status-panel__face - Элемент (составляющая часть Блока)
  - status-panel__face_process - Модификатор (состояние Элемента)
*/

/* Блок, стили условные */
.status-panel {
  background-color: gray;
}

/* Все общие стили для рожи выносим сюда. Этот стиль на элементе висит всегда. */
.status-panel__face {
  width: 25px;
  height: 25px;
}

/* Под отдельные состояния описываем новые правила. Добавлять/удалять будем их. */

/* Нижний прочерк по БЭМ-методологии указывает, что всё после него это состояние/модификатор элемента. */
.status-panel__face_proccess {
  /* Путь до всех картинок/шрифтов обычно должен выглядеть как-то так:
    - assets - общая папка под всё добро
    - svg - группируем по типу файлов (fonts, jpg, png, ...)
    - status-panel - явно определяем, что всё внутри относится к конкретному блоку (не в одну кучу всё)
    - face - можно и под элемент выделить раздел, если в блоке много всего. Если мало, можно просто `face-proccess.svg`
    - process.svg - имя файла = состояние элемента

    Имена файлов/папок (не только в ассетах, везде) по-умолчанию тоже обычно называются в Кебабе.
    Есть исключения, но это пока не надо.

    Также если будут проблемы с размерами картинки, можешь почитать тут про свойство `background`:
    https://developer.mozilla.org/en-US/docs/Web/CSS/background
   */
  background-image: url('/assets/svg/status-panel/face/proccess.svg');
}

.status-panel__face_defeat {
  background-image: url('/assets/svg/status-panel/face/defeat.svg');
}

.status-panel__face_victory {
  background-image: url('/assets/svg/status-panel/face/victory.svg');
}
